{% extends "admin/filer/base_site.html" %}
{% load i18n %}
{% load adminmedia filermedia %}

{% block extrahead %}{{ block.super }}
<!-- this is end of super -->
<link href="{% admin_media_prefix %}css/changelists.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/popup_handling.js"></script>

{# upload stuff #}
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}lib/jquery/extensions/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}lib/jsTree/jquery.tree.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}lib/jsTree/plugins/jquery.tree.hotkeys.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}lib/jsTree/plugins/jquery.tree.contextmenu.js"></script>
{# <script type="text/javascript" src="{% filer_staticmedia_prefix %}js/filebrowser.js"></script> #}

{% endblock %}

{# {% block coltype %}colMS{% endblock %} #}
{% block bodyclass %}change-list filebrowser{% endblock %}


{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url admin:index %}">Home</a> › <a href="{% url admin:app_list app_label="filer" %}">Filer</a>
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content_title %}<h1>File Browser</h1>
{% endblock %}
{% block content %}
<style type="text/css">
	/* special hidden icons for categories (and no spacing for children) */
	.tree a.noicon ins { display: none; }
	.tree a.noicon { color: #666666; }
	.tree li.noicon>ul { margin-left:0; } 
	.tree li.noicon>ul>li.leaf { padding-left:0; }
	
	/* make the filebrowser fill the screen */
	html,body {height:100%;}
	#browser_container {height:400px;position:relative;}
	#changelist {height: 100%;}
	
	/* fixes to re-use django styled stuff */
	.toolbar {
		padding: 3px;
		border-top: 1px solid #CCCCCC;
	}
	.toolbar .object-tools {
		padding: 0;
		margin: 0;
		float: none;
	}
	
	/* the trees */
	#category_tree_container, #folder_tree_container, #node_preview_container {
		height: 100%;
		min-width: 230px;
		border-right: 1px solid #CCCCCC;
		position: relative;
		overflow-y: scroll;
	}
	#category_tree_container {
		background-color: #EDF3FE;
		width: auto;
		float: left;
	}
	#folder_tree_container {
		width: auto;
		float: left;
	}
	#node_preview_container {
		width: 200px;
		float: left;
	}
	#node_preview_container .node_preview .preview {
		padding: 10px; 
		text-align: center;
	}
	#node_preview_container .node_preview .preview img {
		width: 190px;
	}
	.category_tree, .folder_tree {
		padding: 3px;
	}
	
	/* make root folder special in folder view */
	#folder_tree {
		padding: 0 0 0 0;
	}
	#folder_tree>ul {
		margin-left: 0;
		padding-left: 0;
	}
	#folder_tree>ul>li {
		padding:0 0 0 0;
		width: 100%;
	}
	#folder_tree>ul>li>a,
	#folder_tree>ul>li>a:hover {
		width: 100%;
		background-color: #EDF3FE;
		/* border-bottom: 1px solid #CCCCCC; */
		color: gray;
	}
	
	
	/* search results */
	.tree a.search { color:green !important; }
	
	/* django style coloring */
	.tree-apple li a.clicked, 
	.tree-apple li a.clicked:hover, 
	.tree-apple li span.clicked {
		background-color: #7CA0C7;
		border-color: #7CA0C7;
	}
</style>

<div id="content-main">
	<ul class="object-tools">
		<li><a id="id_new_folder" href="#" class="addlink">{% trans "Do something" %}</a></li>
    </ul>
	
    <div class="module" id="changelist">
    	{% comment %}
		<div id="toolbar">
    		This is where the search stuff will be
    	</div>
		{% endcomment %}
		<div id="browser_container">	
<script type="text/javascript" class="source">
$(function () {
	var node_id2id = function(node_id, node_type) {
		var id = node_id.replace(node_type + "-", "");
		return id;
	};
	var id2node_id = function(id, node_type) {
		return node_type + "-" + id;
	};
	var item_types = {
		"default": {
			deletable: false,
			renameable: false
		},
		"category": {
			draggable: false,
			deletable: false,
			renameable: false,
			//max_depth: 1,
			valid_children: ["folder"],
			clickable: false
		},
		"folder": {
			valid_children: ["file","folder"],
			renameable: true,
			deletable: true
		},
		"file": {
			valid_children: "none",
			max_children: 0,
			max_depth: 0,
			icon: {
				image: "/media/filer/icons/file_16x16.png"
			},
			renameable: true,
			deletable: true
		}
	}
	var rules = {
		multitree:"all",
		createat:"top",
		use_max_children:true,
		max_children:1
	};
	var tree_plugins = {
		hotkeys: {},
		//contextmenu: {}
	};
	var ui_options = {
		theme_name : "apple",
		dots: false
	};
	
	var ondata_handler = function(data, tree_obj) {
		var model_to_jstree = function(v, no_state) {
			var x = {
				"attributes":{"id":id2node_id(v.id, v.node_type),"rel":v.node_type},
				"data":{"title":v.name,"attributes":{},"icon":v.icon}
			};
			var main_classes = [];
			var data_classes = [];
			var isCategory = false;
			if (v.item_count>0) {
				x.state = "closed";
			};
			if (v.node_type == 'category') {
				isCategory = true;
				x.state = "open";
				main_classes.push("noicon");
				data_classes.push("noicon");
				//x.attributes['class'] = ["noicon", "another_class"]; // dict notation because 'class' is a keyword
				//x.data.attributes['class'] = "noicon";
			};
			if (v.node_type == 'folder') {
				x.data.icon = null;
			};
			if ('children' in v) { // 'folder' or 'category'
				var children = new Array();
				var no_state_par = false;
				if (isCategory) {
					var no_state_par = true;
				}
				$.each(
					v.children,
					function( ic, vc ) {
						children[ic] = model_to_jstree(vc, no_state_par);
					}
				);
				x.children = children;
			};
			if ('file_type' in v) {
				main_classes.push("file_type-" + v.file_type);
			}
			
			
			if (no_state) {
				x.state = null;
			}
			x.attributes['class'] = main_classes.join(" ");
			x.data.attributes['class'] = data_classes.join(" ");
			return x;
		};
		if ('attributes' in data && 'data' in data) {
			//onsole.log("this is a single jstree node");
			return data;
		} else {
			// this is an array of objects in model (piston) notation
			var r = new Array();
			$.each(
				data,
				function( i, v ){
					r[i] = model_to_jstree(v);
				}
			);
			//onsole.log(r);
			return r;
		}
	};
	var beforedata_generator = function(init_data) {
		var generated_function = function(n,t) {
			//onsole.log('n is ' + n);
			if (n == false) {
				// the first time loading
				if (init_data != false) {
					t.settings.data.opts.static = init_data;
				} else {
					t.settings.data.opts.static = new Array();
				}
			};
			var node_id = $(n).attr("id") || 0;
			var id = node_id2id(node_id, 'folder');
			t.settings.data.opts.url = "/admin/filer/folder/api/folder/" + id + "/children/";
			return {};
		};
		return generated_function;
	};
	var savedata_handler = function(nodedata, obj_type, obj_id, opts) {
		var cfg = $.extend({
				success_create:function(){console.log("default create success")},
				error_create:function(){console.log('default create error')},
				success_update:function(){console.log("default update success")},
				error_update:function(){console.log('default update error')}
			},opts);
		if (obj_id != "") {
			// this is a update
			var url = "/admin/filer/folder/api/" + obj_type + "/" + node_id2id(obj_id, obj_type) + "/";
			$.ajax({
				type:'PUT',
				//dataType: 'json',
				url: url,
				data: nodedata,
				async: true,
				success: cfg.success_update,
				error: cfg.error_update,
			});
		} else {
			// this is a create
			var url = "/admin/filer/folder/api/" + obj_type + "/";
			$.ajax({
				type:'POST',
				dataType: 'json',
				url: url,
				data: nodedata,
				async: true,
				success: cfg.success_create,
				error: cfg.error_create
			});
			
		};
	};
	var savenode_handler = function(node, tree_obj, rb) {
		console.log("savenode_handler");
		var obj_type = tree_obj.get_type(node);
		var theNode = tree_obj.get_node(node);
		var obj_id = theNode.attr('id');
		var parent = tree_obj.parent(node);
		if (parent != -1) {
			console.log("we have a parent");
			var parent_obj_type = tree_obj.get_type(parent);
			var parent_obj_id = node_id2id($(parent).attr('id'), parent_obj_type);
			console.log("we have a parent 2");
			
			console.log("we have a parent 3");
			console.log(parent);
			
			if (parent_obj_type=='category') {
				if (parent_obj_id=='rootFoldersCategory') {
					console.log("move folder to root");
					//savedata_handler({parent:false}, obj_type, obj_id, {});
					var has_parent = false;
					var parent_obj_type = null;
				};
			} else if (parent_obj_type=='folder') {
				console.log("move folder to other folder (left)");
				savedata_handler({parent:parent_obj_id}, obj_type, obj_id, {});
				return false;
			} else {
				console.log("wtf?");
			}
		} else {
			console.log("no parent");
			var has_parent = false;
			var parent_obj_type = null;
		};
		var nodedata = { 'name': tree_obj.get_text(node) };
		if (obj_type=='folder') {
			if (has_parent) {
				nodedata.parent = node_id2id(tree_obj.get_node(parent).attr('id'), parent_obj_type);
			} else {
				nodedata.parent = false;
			};
		};
		if (obj_type=='file') {
			if (has_parent) {
				nodedata.folder = node_id2id(tree_obj.get_node(parent).attr('id'), parent_obj_type);
			} else {
				nodedata.folder = false;
			};
		};
		var error_handler = function(request, textStatus, errorThrown) {
			//alert('failed: ' + textStatus + '    ' + errorThrown);
			$.tree.rollback(rb);
			console.log('error: rollback!');
		};
		var success_create_handler = function(xdata, textStatus) {
			var node_id = id2node_id(xdata['id'], obj_type);
			theNode.attr('id', node_id);
			var theA = theNode.children('a:first');
			var theINS = theNode.children('a:first').children('ins');
			theA.html("");
			theA.append(theINS);
			theA.append(xdata['name']);
			console.log('success');
		};
		console.log("before savedata");
		savedata_handler(nodedata, obj_type, obj_id, {
			error_create:error_handler,
			error_update:error_handler,
			success_create:success_create_handler
		});
	};
	var deletenode_handler = function(node, tree_obj, rb) {
		var obj_type = tree_obj.get_type(node);
		var theNode = tree_obj.get_node(node);
		var obj_id = theNode.attr('id');
		var nodedata = {};
		var url = "/admin/filer/folder/api/" + obj_type + "/" + node_id2id(obj_id, obj_type) + "/";
		$.ajax({
			type:'DELETE',
			//dataType: 'json',
			url: url,
			data: nodedata,
			async: true,
			success: function(data, textStatus, request) {
				//alert('success: ' + textStatus + '   ' + data);
			},
			error: function(request, textStatus, errorThrown) {
				//alert('failed: ' + textStatus + '    ' + errorThrown);
				$.tree.rollback(rb);
			}
		});
	};
	
	
	var oncreate_handler = function(node, ref_node, type, tree_obj, rb) {
		//onsole.log("create");
	};
	var onmove_handler = function(node, ref_node, type, tree_obj, rb) {
		//onsole.log('move ' + node);
		alert("wait!");
		return savenode_handler(node, tree_obj, rb);
	};
	var onrename_handler = function(node, tree_obj, rb) {
		return savenode_handler(node, tree_obj, rb);
	};
	var ondelete_handler = function(node, tree_obj, rb) {
		//onsole.log("delete");
		return deletenode_handler(node, tree_obj, rb);
	};
	var onfocus_handler = function(tree_obj) {
		console.log("focused: " + tree_obj.container.attr('id'));
		tree_obj.focus();
	};
	var onsearch_handler = function(note, tree_obj) {
		tree_obj.container.find('.search').removeClass('search');
		
	};
	
	var category_beforemove_handler = function(node, ref_node, type, tree_obj, rb) {
		console.log(node);
		var obj_type = tree_obj.get_type(node);
		var obj = tree_obj.get_node(node);
		var obj_id = node_id2id(obj.attr('id'), obj_type);
		if (type=='inside') {
			var parent = ref_node;
		} else if (type=='before') {
			//var parent = tree_obj.prev(ref_node, true);
			var parent = tree_obj.parent(ref_node);
		} else if (type=='after') {
			//var parent = tree_obj.next(ref_node, true);
			var parent = tree_obj.parent(ref_node);
		};
		console.log(tree_obj);
		console.log(type + ' "' + tree_obj.get_text(ref_node) + '"');
		console.log(parent);
		var parent_type = tree_obj.get_type(parent);
		var parent_id = node_id2id($(parent).attr('id'), parent_type);
		
		// depending on what the target is
		if (parent_type=='category') {
			if (parent_id=='rootFoldersCategory') {
				console.log("move folder to root");
				savedata_handler({parent:false}, obj_type, obj_id, {});
				return true;
				
			}
		} else if (parent_type=='folder') {
			console.log("move folder to other folder (left)");
			savedata_handler({parent:parent_id}, obj_type, obj_id, {});
			return false;
		}
		return false;
	}
	
	var update_folder_tree_callback = function(data, textStatus) {
		var folderrules = $.extend({}, rules);
		var folder_tree_options2 = {
			data: {
				type: 'json',
				async: true,
				opts: {
					method: "GET",
					url: "/admin/filer/folder/api/folder/root/children/"
				}
			},
			callback: {
				ondata: ondata_handler,
				onrename: onrename_handler,
				oncreate: oncreate_handler,
				onmove: onmove_handler,
				ondelete: ondelete_handler,
				onfocus: onfocus_handler,
				onchange: function(node, tree_obj) {
					//console.log('folders onchange before: ' + $.tree.focused().container.attr('id'));
					tree_obj.focus();
					//console.log('folders onchange after: ' + $.tree.focused().container.attr('id'));
					var xxxx = show_item_preview(node, tree_obj);
				},
				beforedata: function(n,t) {
					if (n==false){
						// the initial loading is done by selection in the categories tree
						// so we can have initial data empty here
						t.settings.data.opts.static = [data];
						//t.settings.data.opts.url
						return {}
					} else {
						// this is used when a folder is opened that has not been
						// loaded yet
						t.settings.data.opts.static = false;
						var id = node_id2id($(n).attr("id") || 0, 'folder');
						
						t.settings.data.opts.url = "/admin/filer/folder/api/folder/" + id + "/children/";
						return {}	
					}
				}
			},
			types: item_types,
			rules: folderrules,
			plugins: tree_plugins,
			ui: ui_options
		}
		$("#folder_tree").tree(folder_tree_options2);
		$.tree.focused().open_all();
		//$.tree.focused().open_branch('#'+id2node_id(data['id'],'folder'));
		//$.tree.focused().open_branch('#folder-1');
		console.log('folders update: ' + $.tree.focused().container.attr('id'));
	};
	
	
	var construct_item_preview_html = function(item) {
			var item_html = '';
			item_html += '<div class="preview"><img src="' + item.thumbnail + '" alt="" /></div>';
			item_html += '<table>';
			$.each(item.properties, function(i,v){
				var thing = item.properties[i];
				item_html += '<tr><th>' + thing.label + '</th><td>' + thing.value + '</td></tr>';
			});
			item_html += '</table>';
			item_html += '<a href="' + item.admin_change_url + '" target="_blank">more...</a>'
			item_html += '';
			return item_html;
		};
	var handle_item_preview = function(data, textStatus) {
		var item_data = {}
		item_data.thumbnail = data.icons['128'];
		item_data.admin_change_url = data.admin_change_url;
		if (data.node_type == 'folder') {
			item_data.properties = [
				{label:'Name', value:data.name},
				{label:'Subfolders', value:data.children_count | 0},
				{label:'Files', value:data.file_count | 0},
				{label:'Created', value:data.created_at},
				{label:'Modified', value:data.modified_at},
			];
		} else {
			item_data.properties = [
				{label:'Name', value:data.name},
				{label:'Size', value:data.size},
				{label:'Created', value:data.uploaded_at},
				{label:'Modified', value:data.modified_at},
			];
		}
		
		var html_string = construct_item_preview_html(item_data);
		var html_node = $(html_string);
		//onsole.log(html_node);
		$('#node_preview').html(html_node);
	}
	var show_item_preview = function(node, tree_obj) {
		var obj_type = tree_obj.get_type(node);
		var theNode = tree_obj.get_node(node);
		var obj_id = theNode.attr('id');
		$.getJSON("/admin/filer/folder/api/" + obj_type + "/" + node_id2id(obj_id, obj_type) + "/",{},handle_item_preview);
	};
	
	var category_tree_rules = $.extend({}, rules);
	var category_tree_options = {
		data: {
			type: 'json',
			async: false,
			opts: {
				method: "GET",
				url: "/admin/filer/folder/api/item_group/"
			}
		},
		callback: {
			ondata: ondata_handler,
			onrename: onrename_handler,
			oncreate: oncreate_handler,
			onmove: onmove_handler,
			ondelete: ondelete_handler,
			onfocus: onfocus_handler,
			onchange: function(node, tree_obj) {
				// this updates the folder tree with the contents of the
				// selected item in the item group tree
				var node_type = tree_obj.get_type(node);
				var folder_id = node_id2id($(node).attr('id'), node_type);
				//$.getJSON("/admin/filer/folder/api/folder/" + folder_id + "/children/",{},update_folder_tree_callback);
				$.getJSON("/admin/filer/folder/api/folder/" + folder_id + "/",{},update_folder_tree_callback);
				//onsole.log('categories onchange: ' + $.tree.focused().container.attr('id'));
			},
			//beforemove: category_beforemove_handler
		},
		types: item_types,
		rules: category_tree_rules,
		plugins: tree_plugins,
		ui: ui_options
	}
	$("#category_tree_container").resizable();
	$("#folder_tree_container").resizable();
	var categoryTree = $("#category_tree").tree(category_tree_options);
});
</script>

<div id="category_tree_container" class="ui-widget-content">
	<div class="category_tree" id="category_tree" style=""></div>
</div>
<div id="folder_tree_container">
	<div class="folder_tree" id="folder_tree" style=""></div>
</div>
<div id="node_preview_container">
	<div class="node_preview" id="node_preview" style="">
		
	</div>
</div>

<div style="clear:both;"></div>
		</div>
		<div id="browser_footer" class="toolbar">
			<input type="button" onclick="var t = $.tree.focused(); if(t.selected) t.create(); else alert('Select a node first');" value="+ folder">
			<input type="button" onclick="" value="&uArr; upload">
			&nbsp;&nbsp;&nbsp;
			<input type="button" onclick="$.tree.focused().remove();" value="&ndash; delete">
			&nbsp;&nbsp;&nbsp;
			<input type="button" onclick="$.tree.focused().rename();" value="&lsaquo;|&rsaquo; rename">
			
			&nbsp;&nbsp;&nbsp;
			<input type="button" onclick="console.log($.tree.focused().container.attr('id'));" value="who has focus?">
			
			<div style="float: right">
				<input type="text" value="search">
				<input type="button" onclick="$.tree.focused().search($(this).prev().val())" value="search">
			</div>
			<div style="clear:both;"></div>
		</div>
    </div>













{% comment %}

{% with folderx as folder %}
<h1>edit folder {{ folder.name }}</h1>
<form action="/admin/filer/folder/api/folder/{{ folder.id }}/" method="post" id="folder_form">
  <div>id: {{ folder.id }}</div>
  <div class="field">
    <label for="name">Folder Name:</label>
    <input type="text" name="name" id="name" class="text" value="{{ folder.name }}" />
  </div>
  <div class="field">
    <label for="parent">Parent:</label>
    <input type="text" name="parent" class="text" value="{{ folder.parent.id }}" />
  </div>
  <div class="field">
    <input type="submit" value="Save" />             
  </div>
</form>

<script type="text/javascript" class="source">
$(document).ready(function() {
  $('#folder_form').bind('submit', function() {
  	//onsole.log($(this).serialize());
    $.ajax({
      type: 'PUT',
      url: $(this).attr('action'),
      //dataType: 'json', // expected response content type
	  //contentType: "application/json; charset=utf-8", //request content type
      //data: {'name':'thisIsSTATIC','parent':1},
	  
	  data: $(this).serialize(),
      processData : false,
	  success: function(data, textStatus) {
	  	console.log('success: ' + ' (' + textStatus + ')');
	  },
	  error: function(XMLHttpRequest, textStatus, errorThrown) {
	  	console.log('error: ' + XMLHttpRequest.status + ' (' + textStatus + ')');
	  }
    });
    return false;
  });
});
</script>
{% endwith %}


<h1>add folder</h1>
<form action="/admin/filer/folder/api/folder/" method="post" id="folder_createform">
  <div class="field">
    <label for="name">Folder Name:</label>
    <input type="text" name="name" class="text" />
  </div>
  <div class="field">
    <label for="parent">Parent:</label>
    <input type="text" name="parent" class="text" />
  </div>
  <div class="field">
    <input type="submit" value="Save" />             
  </div>
</form>

<script type="text/javascript" class="source">
$(document).ready(function() {
  $('#folder_createform').bind('submit', function() {
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      dataType: 'json',
      data: $(this).serialize(),
      processData : false,
      success: function(data, textStatus) {
	  	console.log("success");
        console.log(data);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log("Ooooops!, request failed with status: " + XMLHttpRequest.status + ' text:' + XMLHttpRequest.responseText);
		console.log(textStatus);
		console.log(errorThrown);
      }
    });
    return false;
  });
});
</script>

{% endcomment %}


</div>

{% endblock %}